.bg-black{
  background-color: black;
}

.bg-light-black {
  background-color: #262620 !important;
}

.text-black{
  color: black;
}

.text-light-black{
  color: #262620;
}

.bg-dark-primary{
  background-color: #fcbc73 !important;
}

.text-dark-primary{
  color: #ffd09a !important;
}



/*light*/
.bg-light{
  background-color: white;
}
.bg-light-2{
  background-color: #dadcde;
}
.bg-light-primary{
  background-color: #191659 !important;
}
.text-light-primary{
  color: #191659 !important;
}